main {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  margin-left: 2em;
  margin-right: 2em;
  background-color: white;
}

h1 {
  color: teal;
  margin-bottom: .5em;
  bottom: 0.5em;
}

h2 {
  color: green;
  margin-bottom: .5em;
}

label {
  font-weight: bold;
}

input[type="text"]{
  width: 3em;
  vertical-align: baseline;
  border-radius: 6px;
  border: thin solid gray;
  padding-left: 5px;
  font-size: 100% ;
}

input[type="submit"]{
  margin-left: 1em;
}

br {
  clear: both;
}

fieldset {
  margin-top: 1em;
  padding-top: 1em;
  border-radius: 0.5em;
  border-color: steelblue;
}

legend {
  color:steelblue;
  font-weight: bold;
}

span[data-link]{
  color: limegreen;
  font-weight: bolder;
}

span[data-link]:hover{
  text-decoration: underline;
}

div.box {
  width: 350px;
  border: 6px double silver;
  border-radius: 1em;
  margin-left: 10px;
  margin-top: 10px;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

div.tab{
  margin-left: 2em;
}

span.problem_text{
  color:  blueviolet;
}

p.right, span.right{
  color:green;
  font-weight:bolder
}

p.wrong, span.wrong, p.error{
  color:red;
  font-weight:bolder
}

p.message{
  margin-left: 1em;
  font-weight: bolder;
  font-style: oblique;
  color: darkorange;
}
